<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang Quản Trị</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>
    <main class="container">
        <div th:replace="base :: header"></div>

        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/admin}">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/thesis}">Quản lý khóa luận</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>

        <div>
            <h2 class="text-center text-info mt-3">Quản trị khóa luận</h2>
        </div>

        <form th:action="@{/admin/thesis}">
            <div class="row">
                <div class="col-sm-3">
                
                </div>
                <div class="col-sm-3">
                
                </div>
                <div class="col-sm-3">
                    
                </div>
                <div class="col-sm-3">
                    <div class="mb-3 mt-3">
                        <input type="text" class="form-control" placeholder="Từ khóa..." name="kw">
                    </div>
                </div>
            </div>
            
            <div class="mt-1">
                <a th:href="@{/admin/users}" class="btn btn-info mt-2">Thêm sản phẩm</a>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Avatar</th>
                            <th>Email</th>
                            <th>Major</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="u:${users}">
                            <td th:text="${u.id}"></td>
                            <td th:text="${u.username}"></td>
                            <td th:text="${u.firstname}"></td>
                            <td th:text="${u.lastname}"></td>
                            <td>
                                <img th:src="${u.avatar}" 
                                     alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
                            </td>
                            <td th:text="${u.email}"></td>
                            <td th:text="${u.major}"></td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" th:text="${u.role}">

                                    </button>
                                    <ul class="dropdown-menu">
                                        <li th:each="r:${roles}" class="dropdown-item" th:text="${r.displayName}"></li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-danger" th:onclick="'deleteUser(\'' + @{/api/users} + '\', ' + ${u.id} + ')'" >&times;</button>
                                <a class="btn btn-success" th:href="@{'users/' + ${u.id}}">&#128296;️</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form> 

        <div th:replace="base :: footer"></div>
    </main>

    <script th:src="@{/js/main.js}"></script>
</body>
</html>
